<div class="team-container">
  <div class="team-form-signin">
    <%= bootstrap_form_for(@team) do |f| %>
      <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
          <ul>
          <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :label %>
      <%= f.check_box :open %>

      <%= f.fields_for :users do |builder| %>
        <%= render 'user_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add User", f, :users %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>  
</div>